@model Cinema_Management_System.DTOs.Screening.DetailedScreeningDTO

@{
    ViewData["Title"] = "Szczegóły seansu";
}

<div class="container">
    <h1>@Model.Title</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                @if (!string.IsNullOrEmpty(Model.MoviePosterUrl))
                {
                    <img src="~/uploads/@Model.MoviePosterUrl" class="card-img-top" alt="@Model.Title">
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body w-75">
                    <h4 class="card-title">Szczegóły seansu</h4>
                    <p class="card-text"><strong>Opis: </strong>@Model.MovieDescription</p>
                    <p><strong>Kategoria wiekowa: </strong>@Html.DisplayFor(model => model.AgeCategory)</p>
                    <p><strong>Data: </strong>@Model.DateStartTime.ToString("d")</p>
                    <p><strong>Godzina: </strong>@Model.DateStartTime.ToString("t") - @Model.DateEndTime.ToString("t")</p>
                    <p><strong>Czas trwania:</strong> @((Model.DateEndTime - Model.DateStartTime).TotalMinutes) minut</p>
                    <p><strong>Sala:</strong> @Model.ScreeningRoomName (@Html.DisplayFor(model => model.ScreeningRoomFormat))</p>
                    <p><strong>Cena bazowa: </strong>@Model.BasePrice.ToString("C")</p>

                    <div class="mt-4">
                        <a asp-controller="BuyTicket" asp-action="ChooseSeat" asp-route-screeningId="@Model.Id" class="btn btn-primary btn-lg">Kup bilet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>